@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<!DOCTYPE html>
<html>
    <head>
        <div class="text-center">
            <h1 class="display-4 text-white">Shoes R Us</h1>
        </div>
    </head>
    <body>
        <img src="Images/amgs.png" />
    </body>
</html>