@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<head>
    <link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />

</head>
<div class="text-center">
    <h1 class="display-4 text-white">Shoes R Us</h1>
</div>
<body>
    @*<img src="~/Images/airmag.jpg" alt="Nike Air Mag" width="350" height="350" />*@

    <div class="row">
        <div class="column">
            <img src="~/Images/airmag.jpg" alt="Nike Air Mag" style="width:100%">
        </div>
        <div class="column">
            <img src="~/Images/cactusplant.jpg" alt="Cactus Plant Flea Market Dunk Low" style="width:100%">
        </div>
        <div class="column">
            <img src="~/Images/mochalow.jpg" alt="Reverse Mocha Jordan 1 Low" style="width:100%">
        </div>
    </div>

    <div class="blankspace">

    </div>
    <div class="row">
        <div class="column">
            <img src="~/Images/airmag.jpg" alt="Nike Air Mag" style="width:100%">
        </div>
        <div class="column">
            <img src="~/Images/cactusplant.jpg" alt="Cactus Plant Flea Market Dunk Low" style="width:100%">
        </div>
        <div class="column">
            <img src="~/Images/mochalow.jpg" alt="Reverse Mocha Jordan 1 Low" style="width:100%">
        </div>
    </div>
</body>

