.column {
    float: left;
    width: 33.33%;
    padding: 5px;
}

/* Clear floats after image containers */
.row::after {
    content: "";
    clear: both;
    display: table;
}

p {
    text-align: center;
    color: #FFFFFF;
}

.rcorners {
    border-radius: 50px;
}

.img {
    width: 1024px, height: 1024px
}